{%extends 'base.html' %}
{%block content%}

{%for message in get_flashed_messages()%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
        
{% endfor %}

    
    <br/>
    

    <br/>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="POST">
        {{form.hidden_tag()}}
        {{form.username.label(class="form-label")}}
        {{form.username(class="form-control")}}
        <br/>
        {{form.password.label(class="form-label")}}
        <div class="input-group">
            {{ form.password(class="form-control", id="passwordField") }}
            <button type="button" class="btn btn-outline-secondary" id="togglePassword">Show</button>
        </div>
        
        <br/>
        {{form.submit(class="btn btn-primary mb-3")}}

    </form>
    </div>
    <script>
        const passwordField = document.getElementById("passwordField");
        const togglePassword = document.getElementById("togglePassword");
    
        togglePassword.addEventListener("click", function () {
            // Toggle the type attribute
            const type = passwordField.getAttribute("type") === "password" ? "text" : "password";
            passwordField.setAttribute("type", type);
    
            // Toggle the button text
            this.textContent = type === "password" ? "Show" : "Hide";
        });
    </script>


{%endblock%}